<template>
	<default-layout>
		<section class="section">
			<div class="container">

				<!-- Loading Bar -->
				<div v-if="loading">
					<loader></loader>
				</div>

				<div v-show="loading === false">
					<div class="title">Editing '{{ slug }}'</div>

					<div id="editor" ref="editor"></div>

					<br>

					<div class="field">
						<label class="label">Display Title</label>
						<div class="control">
							<input class="input" type="text" v-model="pageDisplayTitle">
						</div>
					</div>

					<div class="field">
						<label class="label">Tags</label>
						<div class="control">
							<input class="input" type="text" v-model="pageTags">
						</div>
					</div>

					<button class="button is-success" @click="savePage">
						<font-awesome-icon :icon="['fa', 'save']" />&nbsp;Save
					</button>

					<button class="button is-warning" @click="cancelEdit">
						<font-awesome-icon :icon="['fa', 'ban']" />&nbsp;Cancel
					</button>

					<button class="button is-danger" @click="deletePage">
						<font-awesome-icon :icon="['fa', 'ban']" />&nbsp;Delete
					</button>
				</div>

			</div>
		</section>
	</default-layout>
</template>

<script>
	import DefaultLayout from '../layouts/default.vue'
	import Loader from '../elements/Loader.vue'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	export default {
		name: 'EditPage',
		props: ['slug'],
		components: { FontAwesomeIcon, DefaultLayout, Loader },
		data () {
			return {
				editor: Object,
				pageDisplayTitle: '',
				pageTags: '',
				pageModifiedDate: undefined,
				loading: true
			}
		},
		computed: {
			tagList () {
				if (this.pageTags === '') {
					return []
				} else {
					return this.pageTags.split(',').map(item => item.trim())
				}
			},
			formattedDate () {
				return this.$moment(this.pageModifiedDate).format('MMMM Do YYYY, h:mm a')
			}
		},
		watch: {
			slug () {
				this.fetchPage()
			}
		},
		mounted () {
			this.editor = ace.edit(this.$refs['editor'])
			this.editor.setTheme('ace/theme/textmate')
			this.editor.getSession().setMode('ace/mode/markdown')
			this.editor.getSession().setUseWrapMode(true)

			this.editor.setOptions({
				fontSize: '11pt',
				scrollPastEnd: true
			})

			this.fetchPage()
		},
		created () {
			window.document.title = 'Editing ' + this.slug
		},
		methods: {
			fetchPage () {
				var vm = this
				vm.loading = true
				this.$axios.get('/api/pages/' + this.slug + '?format=source')
					.then(function (response) {
						vm.pageDisplayTitle = response.data.title
						vm.pageTags = response.data.tags.join()
						vm.editor.setValue(response.data.contents, -1)
						vm.pageModifiedDate = new Date(response.data.modified)
						vm.loading = false
					})
					.catch(function (error) {
						vm.pageDisplayTitle = ''
						vm.pageTags = ''
						vm.editor.setValue('', -1)
						vm.pageModifiedDate = undefined
						vm.loading = false
						if (error.response) {
							if (error.response.status !== 404) {
								console.log(error.message)
							}
						}
					})
			}, // end fetchPage
			savePage () {
				let content = this.editor.getValue()
				var vm = this

				this.$axios.put('/api/pages/' + this.slug, {
					title: this.pageDisplayTitle,
					tags: this.tagList,
					contents: content
				})
				.then(function (response) {
					if (response.status === 200) {
						vm.$router.push({ path: `/pages/${vm.slug}` })
					}
				})
				.catch(function (error) {
					console.log(error.message)
				})
			}, // end savePage
			cancelEdit () {
				this.$router.push({ path: `/pages/${this.slug}` })
			}, // end cancelEdit
			deletePage () {
				if (confirm('Are you sure you want to permanently delete this page?') === false) {
					return
				}
				var vm = this

				this.$axios.delete('/api/pages/' + this.slug)
				.then(function (response) {
					if (response.status === 200) {
						vm.$router.push({ path: `/` })
					}
				})
				.catch(function (error) {
					console.log(error.message)
				})
			} // end deletePage
		}
	}
</script>
