<template>
	<default-layout>
		<div>
			<section class="hero is-primary">
				<div class="hero-body">
					<div class="container">
						<div class="title has-text-centered">
							Welcome to Devpad
						</div>

						<div class="subtitle has-text-centered">
							An open source wiki engine with tagging and an advanced search index.
						</div>

						<form @submit.prevent="executeSearch">
							<div class="field has-addons">
								<div class="control is-expanded has-icons-left">
									<input class="input is-rounded is-medium" type="text" placeholder="Search the Wiki" v-model="searchInput">
									<span class="icon is-small is-left">
										<font-awesome-icon :icon="['fa', 'search']" />
									</span>
								</div>
								<div class="control">
									<button type="submit" class="button is-rounded is-medium is-dark">
										Search
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>

			<section class="section">
				<div class="container">

					<div v-if="loading">
						<loader></loader>
					</div>

					<div v-else class="columns">
						<div class="column">
							<div class="panel">
								<div class="panel-heading">
									Latest Pages
								</div>
								<div v-for="page in pages">
									<router-link :to="{ name: 'ViewPage', params: { slug: page.id } }" class="panel-block">
										<span class="panel-icon">
											<font-awesome-icon :icon="['fa', 'file']" fixed-width />
										</span>
										{{ page.fields.title || page.id }}
									</router-link>
								</div>
							</div>
						</div>

						<div class="column">
							<div class="panel">
								<div class="panel-heading">
									Popular Tags
								</div>
								<div v-for="tag in tags.terms.slice(0, 10)">
									<router-link :to="{ name: 'Search', query: { tag: tag.term } }" class="panel-block">
										<span class="panel-icon">
											<font-awesome-icon :icon="['fa', 'tag']" fixed-width />
										</span>
										{{ tag.term }}
									</router-link>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</default-layout>
</template>

<script>
	import DefaultLayout from '../layouts/default.vue'
	import Loader from '../elements/Loader.vue'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	export default {
		name: 'Home',
		components: { DefaultLayout, Loader, FontAwesomeIcon },
		data () {
			return {
				loading: true,
				searchInput: '',
				pages: [],
				tags: [],
				totalPages: undefined,
				error: false
			}
		},
		created () {
			window.document.title = 'Home'
			this.fetchData()
		},
		methods: {
			// Fetch the page contents from the api
			fetchData () {
				var vm = this
				vm.loading = true

				this.$axios.get('/api/search?sort=-modified')
					.then(function (response) {
						vm.pages = response.data.hits
						vm.tags = response.data.facets.tags
						vm.totalPages = response.data.total_hits
						vm.loading = false
					})
					.catch(function (error) {
						vm.error = true
						vm.loading = false
						console.log(error.message)
					})
				// end Axios GET

			}, // end fetchData

			executeSearch () {
				this.$router.push({ name: 'Search', query: { q: this.searchInput }})
			}
		}
	}
</script>