<template>
	<default-layout>
		<section class="section">
			<div class="container">

				<div v-if="loading">
					<loader></loader>
				</div>

				<div v-else>
					<div v-if="notFound === true">
						<div class="col">
							<create-new-message :slug="slug"></create-new-message>
						</div>
					</div>

					<div class="columns" v-else>

						<div class="column is-one-quarter is-hidden-mobile">
							<span class="subtitle is-5 has-text-primary">Table of Contents</span>
							<br><br>
							<div class="toc-list">
								<div class="toc-item" v-for="heading in pageWithTOC.toc" :class="'heading-' + heading.depth">
									<a class="pointer" :href="'#toc_' + heading.index" :title="heading.title">
										{{ heading.title }}
									</a>
								</div>
							</div>
						</div>

						<div class="column is-auto-x is-break-word">

							<div class="columns is-vcentered is-mobile">
								<div class="column">
									<div class="title">{{ page.title }}</div>
								</div>
								<div class="column is-narrow">
									<div class="dropdown is-right" onclick="this.classList.toggle('is-active');">
										<div class="dropdown-trigger">
											<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
												<span>
													<font-awesome-icon :icon="['fa', 'cog']" />
												</span>
												<span class="icon is-small">
													<font-awesome-icon :icon="['fa', 'angle-down']" />
												</span>
											</button>
										</div>
										<div class="dropdown-menu" id="dropdown-menu" role="menu">
											<div class="dropdown-content">
												<router-link class="dropdown-item" :to="{ name: 'EditPage', params: { slug: slug }}">Edit</router-link>
												<a class="dropdown-item">
													Move
												</a>
												<a class="dropdown-item" @click="deletePage">
													Delete
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Page Meta Info -->
							<div class="has-text-grey-light">

								<!-- Updated Date -->
								<div style="margin-bottom: .5rem;">
									<font-awesome-icon :icon="['fa', 'calendar']" fixed-width />
									Updated {{ formattedDate }}
								</div>

								<!-- Tags -->
								<div style="margin-bottom: .5rem;">
									<font-awesome-icon :icon="['fa', 'tags']" fixed-width />
									Tags:
									<router-link v-for="tag in page.tags" :key="tag" :to="{ name: 'Search', query: { tag: tag }}">
										<span class="tag is-info" style="margin-left: .5rem;">{{ tag }}</span>
									</router-link>
								</div>

							</div>

							<hr>

							<!-- Page Content -->
							<div v-html="pageWithTOC.page"></div>

						</div>

					</div>
				</div>

			</div>
		</section>
	</default-layout>
</template>

<script>
	import DefaultLayout from '../layouts/default.vue'
	import CreateNewMessage from '../elements/CreateNewMessage.vue'
	import Loader from '../elements/Loader.vue'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	export default {
		name: 'ViewPage',
		props: ['slug'],
		components: { CreateNewMessage, FontAwesomeIcon, DefaultLayout, Loader },
		data () {
			return {
				page: {
					title: '',
					content: '',
					tags: [],
					modified: undefined
				},
				notFound: undefined,
				loading: true
			}
		},
		computed: {
			formattedDate () {
				return this.$moment(this.page.modified).format('MMMM Do YYYY, h:mm a');
			},
			pageWithTOC () {
				var toc = []
				var minDepth = 6

				// Get a list of all headings
				var parser = new DOMParser();
				var doc = parser.parseFromString(this.page.content, "text/html");

				var headings = doc.querySelectorAll('h1, h2, h3, h4, h5, h6')

				for (var i = 0; i < headings.length; ++i) {
					toc[i] = {
						title: headings[i].innerText,
						depth: parseInt(headings[i].nodeName.charAt(1)),
						index: i
					}

					headings[i].id = 'toc_' + i

					if (toc[i].depth < minDepth) { minDepth = toc[i].depth }
				}

				if (minDepth > 1) {
					for (var i = 0; i < toc.length; ++i) {
						toc[i].depth = toc[i].depth - (minDepth - 1)
					}
				}

				return { page: doc.body.innerHTML, toc: toc }
			}
		},
		created () {
			this.fetchData()
		},
		watch: {
			slug () {
				this.fetchData()
				window.scrollTo(0, 0)
			}
		},
		methods: {
			// Fetch the page contents from the api
			fetchData () {
				var vm = this
				vm.loading = true
				vm.notFound = undefined
				vm.pageContent = ''

				this.$axios.get('/api/pages/' + this.slug + '?format=html')
					.then(function (response) {
						vm.loading = false
						vm.page.title = response.data.title
						vm.page.tags = response.data.tags
						vm.page.content = response.data.contents
						vm.page.modified = new Date(response.data.modified)

						if (vm.page.title === '') {
							vm.page.title = vm.slug
						}

						window.document.title = (vm.page.title === '') ? vm.slug : vm.page.title
					})
					.catch(function (error) {
						vm.loading = false
						if (error.response) {
							if (error.response.status === 404) {
								vm.notFound = true
							}
						}
						console.log(error.message)
					})
			}, // end fetchData
			editPage () {
				this.$router.push({ path: `/pages/${this.slug}/edit` })
			}, // end editPage
			deletePage () {
				if (confirm('Are you sure you want to permanently delete this page?') === false) {
					return
				}
				var vm = this

				this.$axios.delete('/api/pages/' + this.slug)
				.then(function (response) {
					if (response.status === 200) {
						vm.$router.push({ path: `/` })
					}
				})
				.catch(function (error) {
					console.log(error.message)
				})
			} // end deletePage
		}
	}
</script>
