:root {
	--primary-color: #2e97bd;
}

/* Bulma Primary Classes */
.hero.is-primary {
	background-color: var(--primary-color);
	color: #fff;
}

nav.navbar {
	padding: 1rem;
	background-color: var(--primary-color);
	color: #fff;
	/*box-shadow: 0 0 10px 0 rgba(0,0,0,.2);*/
}

nav.navbar .navbar-item, nav.navbar .navbar-link {
	color: hsla(0, 0%, 100%, .8);
}

nav.navbar .navbar-item.router-link-exact-active, nav.navbar .navbar-link.router-link-exact-active {
	color: #fff;
	font-weight: 700;
}

nav.navbar .navbar-item:hover, nav.navbar .navbar-link:hover {
	background-color: transparent;
	color: #fff;
}


.navbar-menu.is-active {
	background-color: transparent;
	box-shadow: none;
}


#search-input {
	background-color: transparent;
	color: #fff;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #363636;
	font-weight: 400;
	line-height: 1.125;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

.toc-item {
	overflow: hidden;
	padding-bottom: 1rem;
}
.toc-item a {
	color: #777;
	transition: .3s ease;
}
.toc-item a:hover {
	color: var(--primary-color);
}
.toc-item.heading-1 {
	margin-left: 0rem;
}
.toc-item.heading-2 {
	margin-left: 2rem;
}
.toc-item.heading-3 {
	margin-left: 4rem;
}
.toc-item.heading-4 {
	margin-left: 6rem;
}
.toc-item.heading-5 {
	margin-left: 8rem;
}
.toc-item.heading-6 {
	margin-left: 10rem;
}

.has-text-primary {
	color: var(--primary-color) !important;
}

.is-auto-x {
	overflow-x: auto;
}
.is-auto-y {
	overflow-y: auto;
}

.is-break-word {
	word-break: break-word;
}

#editor {
	height: calc(100vh * 0.5);
	min-height: 400px;
	border: 1px solid #b5b5b5;
}

/* Tables */
table {
	background-color: white;
	color: #363636;
	width: 100%;
}
table:not(:last-child) {
	margin-bottom: 1.5rem;
}
table td,
table th {
	border: 1px solid #dbdbdb;
	border-width: 0 0 1px;
	padding: 0.5em 0.75em;
	vertical-align: top;
}
table th {
	color: #363636;
	text-align: left;
}
table thead td,
table thead th {
	border-width: 0 0 2px;
	color: #363636;
}

table tfoot td,
table tfoot th {
	border-width: 2px 0 0;
	color: #363636;
}

table tbody tr:last-child td,
table tbody tr:last-child th {
	border-bottom-width: 0;
}

pre {
	margin: 1rem 0px;
}

.no-wrap {
	white-space:nowrap;
}

.pagination ul, .pagination ol {
	list-style: none;
}

ol, ul {
	padding-left: 2.5rem;
}

ul {
	list-style: disc;
}
ul ul, ol ul {
	list-style: circle;
}