<template>
	<div>

		<top-nav></top-nav>
		<slot></slot>
		<bottom-footer></bottom-footer>

	</div>
</template>

<script>
	import TopNav from '../elements/TopNav.vue'
	import BottomFooter from '../elements/BottomFooter.vue'
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	export default {
		name: 'DefaultLayout',
		components: { FontAwesomeIcon, TopNav, BottomFooter },
		data () {
			return {}
		}
	}
</script>