<template>
	<div class="is-text-center">
		<h1 class="page-title">The page "{{ slug }}" doesn't exist yet.</h1>
		<p>Would you like to create it now?</p>
		<router-link :to="'/pages/' + slug + '/edit'" class="button primary outline"><font-awesome-icon :icon="['fa', 'plus']" /> Create</router-link>
	</div>
</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	export default {
		name: 'CreateNewMessage',
		props: ['slug'],
		components: { FontAwesomeIcon },
		data () {
			return {}
		}
	}
</script>
