<template>
	<div class="sidenav" v-bind:class="{ active: active }">

		<!-- SideNav Header - logo and site title -->
		<div class="header">
			<router-link to="/">
				<img src="/static/logo.png" class="logo-img"> <span class="logo-text">Devpad</span>
			</router-link>
		</div>

		<!-- Site Links -->
		<div class="menu-header"><span class="underlined">SITE</span></div>
		<div class="menu-section">

			<!-- Home -->
			<router-link :to="{ name: 'Index' }">
				<font-awesome-icon :icon="['fa', 'home']" class="fa-fw" /> Home
			</router-link>

			<!-- All Pages -->
			<router-link :to="{ name: 'AllPages' }">
				<font-awesome-icon :icon="['fa', 'file-alt']" class="fa-fw" /> All Pages
			</router-link>

			<!-- All Tags -->
			<router-link :to="{ name: 'AllTags' }">
				<font-awesome-icon :icon="['fa', 'tags']" class="fa-fw" /> All Tags
			</router-link>
		</div>

		<!-- Recent Page List -->
		<div class="menu-header"><span class="underlined">RECENT CHANGES</span></div>
		<div class="menu-section">
			<div v-for="page in recents">
				<router-link :to="{ name: 'ViewPage', params: { slug: page.id }}" :title="page.fields.title || page.id">
					<font-awesome-icon :icon="['fa', 'file']" class="fa-fw" /> {{ page.fields.title || page.id }}
				</router-link>
			</div>
		</div>

		<!-- Top Tags List -->
		<div class="menu-header"><span class="underlined">TOP TAGS</span></div>
		<div class="menu-section">
			<div v-for="tag in topTags">
				<router-link :to="{ name: 'PagesWithTag', params: { tag: tag.term }}">
					<font-awesome-icon :icon="['fa', 'tag']" class="fa-fw" />
					<span class="is-text-uppercase">{{ tag.term }}</span>
					<span>- {{ tag.count }}</span>
				</router-link>
			</div>
		</div>

	</div>
</template>

<script>
	import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

	export default {
		name: 'SideNav',
		components: { FontAwesomeIcon },
		props: ['active'],
		data () {
			return {
				recents: [],
				topTags: []
			}
		},
		watch: {
			$route () {
				this.refreshAll()
			},
		},
		created () {
			this.refreshAll()
		},
		methods: {
			refreshAll () {
				this.refreshRecents()
				this.refreshTags()
			},
			refreshRecents () {
				var vm = this
				this.$axios.get('/api/pages?sort=-modified&size=5')
					.then(function (response) {
						vm.recents = response.data.hits
					})
					.catch(function (error) {
						console.log(error.message)
					})
				// end Axios GET
			},
			refreshTags () {
				var vm = this
				this.$axios.get('/api/tags?size=5')
					.then(function (response) {
						vm.topTags = response.data.facets.tags.terms
					})
					.catch(function (error) {
						console.log(error.message)
					})
				// end Axios GET
			}
		}
	}
</script>
